<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-signin-client_id"
        content="293145640210-9na2vgecvu45cc8do0411rg8nd000766.apps.googleusercontent.com">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Login</title>
</head>
<style>
    body {
        background-color: rgb(231, 241, 241);
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    #or::before,
    #or::after {
        content: "";
        display: inline-block;
        width: 83px;
        height: 1px;
        background-color: black;
        vertical-align: middle;
        margin: 0 10px;
    }
</style>

<body>
    <!-- script -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload" data-client_id="293145640210-9na2vgecvu45cc8do0411rg8nd000766.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse" data-auto_prompt="true">
    </div>
    <script src="/public/js/login.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- HTML -->
    <section>
        <div class="row g-0 d-flex justify-content-center align-items-center border border-light-subtle shadow-lg rounded-2 bg-light"
            style="width: 700px;height: 400px;">
            <div class="col-6" style="height: 100.5%;">
                <img src="/public/images/small-robo.jpg" class="img-fluid rounded-start" alt="small robo image"
                    style="height: 100%;">
            </div>
            <div class="col-6 d-flex flex-column justify-content-evenly align-items-center" style="height: 100%;">
                <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-secondary">Create Account</h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="email" class="form-control" placeholder="Enter your Email" aria-label="Username"
                            aria-describedby="basic-addon1" id="requestedEmail">
                        <button class="btn btn-primary" type="button" onclick="handleUserRequest()">Create</button>
                    </div>
                </div>
                <div>
                    <span class="text-secondary lead mb-5" id="or">or</span>
                </div>
                <div class="mb-5 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-secondary">Login</h5>
                    <div class="g_id_signin" data-type="standard" data-theme="filled_blue" data-shape="pill">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- modal popup -->
    <div class="modal" tabindex="-1" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="modal-title">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-body" class="text-secondary">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>