<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
       <title>Home</title>
       <style>
              body {
                     padding-top: 56px;
                     background-color: #010101;
                     color: #f8f9fa;
              }

              section {
                     padding-top: 50px;
                     height: 90vh;
              }

              .profile-section img {
                     width: 43px;
                     height: 43px;
                     margin-right: 5px;
                     cursor: pointer;
              }

              .all-flows-section {
                     background-color: #f8f9fa;
                     padding: 20px;
                     border-radius: 10px;
                     margin-top: 20px;
              }

              .tooltip-inner {
                     max-width: 500px;
              }
       </style>
</head>

<body class="pt-2">

       <!-- Script -->
       <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
       <script src="/public/js/home.js"></script>

       <div class="container-fluid mt-3">
              <div class="row align-items-center">
                     <div class="col-md-9 align-items-center">
                            <ul class="nav justify-content-end" style="font-size: 23px;">
                                   <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                                   </li>
                                   <li class="nav-item">
                                          <a class="nav-link" href="#migrate">Migration</a>
                                   </li>
                                   <li class="nav-item">
                                          <a class="nav-link" href="#diff-checker">Diff Checker</a>
                                   </li>
                                   <li class="nav-item">
                                          <a class="nav-link" href="/users">Users</a>
                                   </li>
                            </ul>
                     </div>

                     <div class="col-md-3 d-flex align-items-center justify-content-end">
                            <div class="profile-section d-flex justify-content-end align-items-center">
                                   <span class="lead mx-3">
                                          <%= name %>
                                   </span>
                                   <img src="<%= profile %>" alt="User Profile" class="img-fluid rounded-circle"
                                          data-bs-toggle="tooltip" data-bs-html="true" data-bs-title='
                        <div class="card bg-light text-black">
                            <div class="card-body">
                                <h5 class="card-title text-primary fw-bold">User Profile</h5>
                                <div class="mb-3 d-flex">
                                    <span>
                                        <i class="bi bi-person-circle fs-5"></i>&nbsp;&nbsp;<span class="fw-light lead"><%= name %></span>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span>
                                        <i class="bi bi-envelope-at-fill fs-5"></i>&nbsp;&nbsp;<span class="fw-light lead"><%= email%></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        '>
                            </div>
                     </div>
              </div>
       </div>


       <section id="home">
              <div class="container d-flex justify-content-center">
                     <div class="row d-flex justify-content-end" style="width: 50%;">
                            <div class="d-flex align-items-start justify-content-center flex-column me-3">
                                   <span class="fw-bolder lead" style="font-size: 41px;">Automation Tools</span>
                                   <span class="fw-bolder lead" style="font-size: 41px;">CX Team</span>
                                   <span class="lead text-secondary fw-light">provides all the automation tools needed
                                          for cx team for onboarding customers and analysing uptycs data. Try some of
                                          the tools here.</span>
                            </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-start">
                            <img style="width: 100%; aspect-ratio: 1/1;" src="/public/images/working-robo.gif"
                                   alt="Robo GIF">
                     </div>
              </div>
       </section>


       <section id="migrate" class="mt-5">
              <div class="container">
                     <div class="row d-flex align-items-center">
                            <div class="d-flex align-items-center justify-content-center" style="width: 50%;">
                                   <img style="width: 90%; border-radius: 11px; aspect-ratio: 2/1.5;  box-shadow: 0 0 7px #027bf5;" src="/public/images/data-transfer.gif" alt="data transfer GIF">
                            </div>
                            <div class="d-flex flex-column justify-content-center" style="width: 50%;">
                                   <span class="fw-bold lead" style="font-size: 47px;">Migrate Flag Profile</span>
                                   <span class="fw-light text-secondary" style="font-size: 17px;">migrate flag profiles
                                          from one tenant to other</span>
                                   <a href="/migrate-flag-profiles" class="btn btn-secondary text-white mt-3"
                                          style="width: 371px;"> Try this now</a>
                            </div>
                     </div>
              </div>
       </section>


       <section id="diff-checker">
              <div class="container d-flex justify-content-center">
                     <div class="row d-flex justify-content-end" style="width: 50%;">
                            <div class="d-flex align-items-start justify-content-center flex-column me-3">
                                   <span class="fw-bolder lead" style="font-size: 41px;">Diff checker</span>
                                   <span class="lead text-secondary fw-light">check difference between two flag profiles
                                          visually</span>
                                   <a href="/migrate-flag-profiles" class="btn btn-secondary text-white mt-3"
                                          style="width: 371px;"> Try this now</a>
                            </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-start">
                            <img style="width: 100%; aspect-ratio: 1/1;" src="/public/images/diff-checker.gif"
                                   alt="Comparison GIF">
                     </div>
              </div>
       </section>
</body>

</html>