.accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.message--403{
  font-size: 31px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #fa8072;
}