.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.heading{
	font-size: 37px;
	margin : 70px 0 10px 30px;
	font-family: math;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  margin-right: 20px;
}

.profile-card {
  background-color: #b7b7b7;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  height: 120px;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.profile-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #090707;
}

.profile-role {
  font-size: 18px;
  color: #2c2828;
  font-family: 'Times New Roman', Times, serif;
}

.profile-email {
  margin: 0;
  font-size: 16px;
  color: #777;
}
.profile-icon {
  width: 50px;
  border-radius: 3px;
}